
.header {
	width:250px;
	height:250px;
}

.header a {
     display: block; 
    background-image: url("adidas.png");
    background-repeat: no-repeat;
    height:250px;
    width:250px; 
    color: #eaeaea;
}

.header a:hover {
    display: block;
    background-image: url("adidas2.png");
    background-repeat: no-repeat;
    height:250px; 
    width:250px;
}
